# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List of popular languages for Data Science
- List of Data Science libraries
- List of Data Science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Tensorflow
3. ggplot

| Data Science Tools |
| ------------------ |
| VS Code |
| Jupyter |
| Git Lab |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
a = 200
b = 60
c = a/b
print(c, 'hours')

3.3333333333333335 hours

## Author
Tsunghao Chen